@keyframes fadeIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.fadeIn-enter-active {
  animation: fadeIn 0.3s ease forwards;
}
.fadeIn-leave-active {
  animation: fadeIn 0.3s ease reverse;
}

@keyframes selectSlideDown {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.selectSlideDown-enter-active {
  animation: selectSlideDown 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.selectSlideDown-leave-active {
  animation: selectSlideDown 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse;
}
